<section class="parallax1 row" id="cover">
  <div class="col-lg-12">
    <h1 class="heading parallax">Destiny City Comics!<br><span id="heading2">Stadium Districts Comic Shop</span></h1>
  </div>
</section>

<div class="subscribe row">
  <div class="container">
    <div class="col-md-4 love-comics">
      <h1>Love Comic Books?</h1>
      <h3>save money by subscibing to your favorite titles</h3>
      <h1>Find Out More Here</h1>
    </div>
    <div class="col-md-4"><%= image_tag ('what'), :class => "what" %></div>
    <div class="col-md-4">
      <h1>Sign up for Our Newsletter</h1>

      <input type="email" class="form-control" placeholder="email">
      <button type="button" class="btn btn-lg btn-primary">Submit</button>
    </div>
  </div>
</div>

<div id="superman" class="parallax1">
  <h1 style="font-size:80px; color:#0C7FC4;">Check out What everyone is saying about Destiny City</h1>
  <div id="wpac-google-review">
    <script type="text/javascript">
    wpac_init = window.wpac_init || [];
    wpac_init.push({widget: 'GoogleReview', id: 6343, place_id: 'ChIJNd15h6hVkFQRlrjawk0St4g', view_mode: 'list'});
    (function() {
        if ('WIDGETPACK_LOADED' in window) return;
        WIDGETPACK_LOADED = true;
        var mc = document.createElement('script');
        mc.type = 'text/javascript';
        mc.async = true;
        mc.src = 'https://embed.widgetpack.com/widget.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
    })();
    </script>
    <!-- <h1 style="text-align:center; font-size: 80px; color: #0C7FC4;">Come To Destiny City Comics</h1>
      <p style="font-size: 50px;color: #0C7FC4;">for traditional comics, critically-acclaimed graphic novels, independent comix, and works by local artists. </p> -->
</div>

<div class="subscribe row">
    <div class="col-md-2">
      <%= image_tag ('marvel'), :class => 'marvel'  %>
    </div>
    <div class="col-md-2">
      <%= image_tag ('image'), :class => 'image'  %>
    </div>
    <div class="col-md-3">
      <%= image_tag ('dc'), :class => 'dc'  %>
    </div>
    <div class="col-md-2">
      <%= image_tag ('darkhorse'), :class => 'darkhorse'  %>
    </div>
    <div class="col-md-2">
      <%= image_tag ('vertigo'), :class => 'vertigo'  %>
  </div>
</div>

<div id="events">
  <div class="container">
    <h1 style="text-align:center;font-size:100px;">Upcoming Events</h1>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <% if @events.any?()  %>
          <% @events.each do |event| %>
        <%= image_tag event.images.url(:large), :class => 'image' %>
        <h2 style="font-family:helvetica;"> <%= event.title %></h2>
        <h4> <%= event.date %> </h4>
        <hr>
        <% end %>

        <% end %>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

<div id="map"></div>
    <script>
     var marker;
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 47.261647, lng: -122.445784},
          scrollwheel: false,
          mapTypeControl: false,
          scaleControl: false,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });


        marker = new google.maps.Marker({
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP,
          position: {lat: 47.261647, lng: -122.445784}
        });
        marker.addListener('click', toggleBounce);


      function toggleBounce() {
              if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
              } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
              }
            }
          }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBN8m4iJ3LtZhl97zm5MjlDrOH_0RuGxE&callback=initMap"
    async defer></script>


    <div class="social-media-bar">
      <div class="container">
          <div class="social">
            <%= link_to (image_tag ('facebook'), :class => 'icon'), 'https://www.facebook.com/DestinyCityComics' %>
            <%= link_to (image_tag ('twitter'), :class => 'icon'), 'https://twitter.com/DestinyCityComx' %>
          </div>
      </div>
    </div>
