  <div class="events">
    <div class="container">

    <p id="notice"><%= notice %></p>
<br><br>
    <h1 style="text-align:center;">Events</h1>



  <ul>
    <% @events.each do |event| %>
          <%= image_tag event.images.url(:large) %>
      <h1><%= event.title %></h1>
      <h3> What?</h3>
      <%= event.content %>
      <h3>Where?</h3>
      <%= event.location %>
      <h3>When?</h3>
      <%= event.date %>
      <br>
      <br>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= link_to 'Event Page', event, :class => "btn btn-primary btn-lg" %>
        </div>
        <div class="col-md-4">
          <%= link_to 'Edit', edit_event_path(event), :class => "btn btn-primary btn-lg" %>
        </div>
        <div class="col-md-4">
          <%= link_to 'Destroy', event,:class => "btn btn-primary btn-lg", method: :delete, data: { confirm: 'Are you sure?' } %>
          <hr>
          <br>
        </div>
        <hr>
        <% end %>
        </div>
      </ul>

    <br>

    <%= link_to 'New Event', new_event_path, :class => "btn btn-primary btn-lg" %>
    <br>
    <br>

  </div>
</div>
