<div class="events">
  <div class="container">
  <p id="notice"><%= notice %></p>
  <br><br><br>

  <h1 style="text-align:center;">Products</h1>


  <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-3">
      <ul>
      <%= image_tag product.images[0].image.url(:large) %>
      <%= product.title %>
      <%= product.price %>
      <div class="row">
        <div class="col-md-4">
          <%= link_to 'Show', product,:class => "btn btn-primary btn-lg" %>
        </div>
        <div class="col-md-4">
          <%= link_to 'Edit', edit_product_path(product),:class => "btn btn-primary btn-lg" %>
        </div>
        <div class="col-md-4">
          <%= link_to 'Destroy', product,:class => "btn btn-primary btn-lg", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </ul>
  </div>
</div>
    <% end %>

    <%= link_to 'New Product', new_product_path %>

  <br><br><br>
  </div>
</div>
