<div class="container">
  <h1>Your order history</h1>
  <% if @account_history.any? %>
    <% @account_history.each do |order| %>
    <div class="well">
      <h2>Order number :<%= order.id %></h2>
      <h4>Status: <%= order.status %> | Date: <%= order.created_at%></h4>

      <h3>Ship To:</h3>
      <p> <%= Address.find(order.address_id).street %> </p>
      <p> <%= Address.find(order.address_id).city %> </p>
      <p> <%= Address.find(order.address_id).state %> </p>
      <p> <%= Address.find(order.address_id).phone %> </p>

      <h3>Order Items:</h3>
      <% order.order_items.each do |item| %>
        <h4><%= item.product.title %> </h4>
        <p ><%= image_tag item.product.images[0].image.url(:thumb) %></p>
        <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
      <% end %>
      <h3 style="text-align: right">Your Total: <b><%= number_to_currency order.total_price %></b></h3>
    </div>
    <% end %>
  <% else %>
    <p>
      You don't have any order history
    </p>
  <% end %>

</div>
